<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Mark01!'" />
    
    <table>
    	<tr>
    		<td> .id.</td>
    		<td> .messagesender.</td>
    		<td> .rString1.</td>
	    	<td> .rString2.</td>
    		<td> .rString3.</td>
    		<td> .rString4.</td>
    		<td> .importe_movto.</td>
    		<td> .importe_acumulado.</td>
    		<td> .messagetype.</td>    
    		<td> .status.</td>
    		<td> .createAt.</td>
		</tr>    
    	<th:block th:each="mes : ${mensajes}">
    		<tr>
    			<td th:text="${mes.id}">..</td>
    			<td th:text="${mes.messagesender}">..</td>
    			<td th:text="${mes.rString1}">..</td>
    			<td th:text="${mes.rString2}">..</td>
    			<td th:text="${mes.rString3}">..</td>
    			<td th:text="${mes.rString4}">..</td>
    			<td th:text="${mes.importe_movto}">..</td>
    			<td th:text="${mes.importe_acumulado}">..</td>
    			<td th:text="${mes.messagetype}">..</td>    
    			<td th:text="${mes.status}">..</td>
    			<td th:text="${mes.createAt}">..</td>
			</tr>    
		</th:block>    
	</table>
	
	<p th:text="${error}" />
    
    
</body>
</html>